doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='css/app.css', rel='stylesheet')
    title Hexlet Chat
  body
    .container-xxl.vh-100.p-0.p-md-4
      .d-flex.overflow-hidden.h-100.rounded-md.bg-white
        .col.col-md-4.d-flex.flex-column.mh-100.pb-md-4
          header.order-last.order-md-first.bg-primary
            h1 Hexlet Chat
          aside.hide-scrollbar.pt-5.px-4
            block aside
        main.d-none.d-md-block.mh-100.col-md-8.border-md-left
          block content
