doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='css/app.css', rel='stylesheet')
    title Hexlet Chat
  body
    .container-xxl.vh-100.p-0.p-md-4
      .d-flex.flex-column.flex-wrap.h-100.overflow-hidden.rounded-md.bg-white
        header.order-last.order-md-first.col-md-4.bg-primary
          h1 Hexlet Chat
        aside.flex-grow-1.col-md-4.pt-5.px-4
          block aside
        main.d-none.d-md-block.h-100.col-md-8.border-md-left
          block content
