extends layouts/default.pug

block navigation
  - const activeNavItem = 'currentChat'

  +menu('currentChat', 'people', 'chat', 'profile')

block aside
  +tab-pane('currentChat')(class='d-md-none h-100')
    include parts/message-list.pug
  +tab-pane('people')(class='pt-5 px-4')
    h2 Контакты
    +search('Поиск по контактам', 'search-contact')
    include parts/contact-list.pug
  +tab-pane('chat')(class='pt-5 px-4')
    h2 Чаты
    +search('Поиск по сообщениям', 'search-message')
    include parts/chat-list.pug
  +tab-pane('profile')(class='pt-5 px-4')
    h2 Профиль
    +search('Поиск по сообщениям', 'search-message')
    include parts/profile.pug

block content
  include parts/message-list.pug
