extends layouts/default.pug

block navigation
  - const activeNavItem = 'people'

  +menu('people', 'chat')

block aside
  +tab-pane('people')
    h2 Контакты
    +search('Поиск по контактам', 'search-contact')
    include parts/contact-list.pug
  +tab-pane('chat')
    h2 Чаты
    +search('Поиск по сообщениям', 'search-message')
    include parts/chat-list.pug

block content
  .d-flex.flex-column.justify-content-center.align-items-center.h-100
    +avatar(src='images/avatar_1.jpg', alt='Ваш автар' width=200, height=200)
    span.h6.mt-3 Привет, Кодовёнок
    span.text-secondary.small Выбери чат, чтобы начать общаться
