-
  const chats = [
    {
      name: 'Вениамин Редакторович',
      lastMessage: 'o_O',
      avatar: '/images/avatar_4.jpg',
      lastMessageTime: '11:45',
    },
    {
      name: 'Джедай Падаванов',
      lastMessage: 'Привет, скоро третий проект? Уже скоро надо будет выложить',
      avatar: '/images/avatar_2.jpg',
      lastMessageTime: '10:12',
    },
    {
      name: 'Алексей Примадонин',
      lastMessage: 'Тесты упали >_<',
      avatar: '/images/avatar_3.jpg',
      lastMessageTime: '08:53',
    },
  ]
