-
  const messages = [
    {
      type: 'contact',
      text: 'Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?',
      time: '8 минут назад'
    },
    {
      type: 'user',
      text: 'Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень',
      time: '5 минут назад'
    },
    {
      type: 'contact',
      text: 'Лады',
      time: '5 минут назад'
    },
    {
      type: 'user',
      text: 'А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие',
      time: '3 минуты назад'
    },
    {
      type: 'contact',
      text: 'о_О',
      time: 'Только что'
    },
  ]
