-
  const navItems = {
    people: {
      icon: 'people',
      text: 'Контакты',
      target: 'contacts',
      tabId: 'contacts-tab',
    },
    chat: {
      icon: 'chat',
      text: 'Сообщения',
      target: 'chats',
      tabId: 'chats-tab',
    },
    profile: {
      icon: 'person',
      text: 'Профиль',
      target: 'profile',
      tabId: 'profile-tab',
    },
    currentChat: {
      icon: 'chat-left-text',
      text: 'Чат',
      target: 'current-chat',
      tabId: 'current-chat-tab',
    },
  }
