-
  const navItems = {
    people: {
      icon: 'people',
      text: 'Контакты',
      target: 'contacts',
      tabId: 'contacts-tab',
    },
    chat: {
      icon: 'chat',
      text: 'Сообщения',
      target: 'chats',
      tabId: 'chats-tab',
    },
  }
