-
 const profile = {
   name: 'Кодовёнок Хекслетович',
   avatar: 'images/avatar_1.jpg',
   description: 'Милый и скромный помощник начинающих разработчиков. Люблю JavaScript',
   contacts: [
      {
        name: 'Страна',
        value: 'Москва, Россия',
        icon: 'glob',
        href: null,
      },
      {
        name: 'Телефон',
        value: '+7 (499) 123-45-67',
        icon: 'phone',
        href: '+74991234567'
      },
      {
        name: 'Email',
        value: 'nikita.m@hexlet.io',
        icon: 'envelope',
        href: 'mailto:nikita.m@hexlet.io'
      },
      {
        name: 'Twitter',
        value: '@n__mikhaylov',
        icon: 'people',
        href: 'https://twitter.com/n__mikhaylov',
      },
   ]
 }
