mixin contact(contact = {})
  a.hovered-card.hovered-card-contact.d-flex.align-items-center.mb-3.ps-3.text-decoration-none.shadow-sm(href='#')
    +avatar(contact.avatar, contact.name)(width=50, height=50)
    .p-4.d-flex.flex-column.overflow-hidden
      h3.h6.mb-1.text-truncate= contact.name
      small.hovered-card-subtext= contact.status
